file-uploads-frontend/node_modules
file-uploads-frontend/src/components/RouteShield
file-uploads-frontend/src/components/dirUpload.js
file-uploads-frontend/src/components/dragAndDrop.js
file-uploads-frontend/src/components/fileUpload.js
file-uploads-frontend/src/components/showFiles.js
file-uploads-frontend/src/serviceWorker.js
file-uploads-frontend/src/setupTests.js
backend-env/bin
backend-env/include
backend-env/lib
backend-env/fileUploads/db.sqlite3
backend-env/fileUploads/userDirectories
backend-env/fileUploads/fileUploads/userDirectories
backend-env/fileUploads/fileUploads/__pycache__
backend-env/fileUploads/fileUploads/secret_key_from_setting_py
backend-env/fileUploads/apps/authRegister/__pycache__
backend-env/fileUploads/apps/authRegister/migrations/__pycache__
backend-env/fileUploads/apps/service/__pycache__
backend-env/fileUploads/apps/service/files
backend-env/fileUploads/apps/service/migrations/__pycache__


